* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background: url("form_image.avif") center/cover no-repeat;
  position: relative;
}

.logo-bar {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 130px;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  color: white;
  font-size: 5.5rem;
}

.logo-bar img {
  height: 90px;
}

.right {
  flex: 1.5;
  background: #f3f4f6;
  padding: 60px 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.text {
  max-width: 600px;
  font-size: 1.5rem;
}

.card {
  background: white;
  width: calc(100% + 140px);
  margin-left: -70px;
  padding: 35px 70px 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.card h2 {
  margin-bottom: 25px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px 70px;
}

.field {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 6px;
  color: #374151;
}

input {
  height: 38px;
  padding: 6px 10px;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 1px solid #3b82f6;
  box-shadow: 0 0 4px rgba(59,130,246,0.3);
}

input[type="password"]:invalid {
  border: 1px solid red;
}

button {
  margin-top: 35px;
  background: #596D48;
  color: white;
  border: none;
  padding: 14px 48px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: fit-content;
}

button:hover {
  background: #4f623f;
}

.login {
  margin-top: 20px;
}

.login a {
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
}